@import "_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
}

body{
    background-color: rgb(116, 116, 116);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @import"_inputBox.scss";
  @import"_secondBox.scss";
  
}
